@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 238 83% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 244 6% 95%;
    --secondary-foreground: 244 4% 9%;
    --muted: 244 6% 95%;
    --muted-foreground: 244 4% 45%;
    --accent: 238 100% 96%;
    --accent-foreground: 238 83% 62%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 244 6% 90%;
    --input: 244 6% 90%;
    --ring: 238 83% 62%;
    --chart-1: 238 83% 62%;
    --chart-2: 268 83% 62%;
    --chart-3: 208 83% 62%;
    --chart-4: 258 83% 62%;
    --chart-5: 218 83% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 244 23% 5%;
    --foreground: 244 6% 95%;
    --card: 244 23% 5%;
    --card-foreground: 244 6% 95%;
    --popover: 244 23% 5%;
    --popover-foreground: 244 6% 95%;
    --primary: 238 83% 62%;
    --primary-foreground: 244 23% 5%;
    --secondary: 244 13% 15%;
    --secondary-foreground: 244 6% 95%;
    --muted: 244 13% 15%;
    --muted-foreground: 244 6% 65%;
    --accent: 244 13% 15%;
    --accent-foreground: 244 6% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 244 13% 15%;
    --input: 244 13% 15%;
    --ring: 238 83% 62%;
    --chart-1: 238 83% 62%;
    --chart-2: 268 83% 62%;
    --chart-3: 208 83% 62%;
    --chart-4: 258 83% 62%;
    --chart-5: 218 83% 62%;
  }
}

@layer base {
  html {
    font-size: 18px;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
